OPENAI_API_KEY=your_api_key
OPENAI_BASE_URL=https://api.openai.com/v1
MODEL = gpt-5-nano
OPENAI_API_KEY_BAK = ""
OPENAI_BASE_URL_BAK = ""
MODEL_BAK = ""
WEBDAV_HOSTNAME=https://example/webdav
WEBDAV_LOGIN=your_name
WEBDAV_PASSWORD=your_password